<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648411865617-ajikv3rhjt5uhje17fb4nc673fafqjtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648411865617-ajikv3rhjt5uhje17fb4nc673fafqjtt</string>
	<key>API_KEY</key>
	<string>AIzaSyAIy3U3SFiIRVn7LZLp0AVq_tl-dgm7d0U</string>
	<key>GCM_SENDER_ID</key>
	<string>648411865617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appdeveloper.kai.movedOn</string>
	<key>PROJECT_ID</key>
	<string>movedon</string>
	<key>STORAGE_BUCKET</key>
	<string>movedon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648411865617:ios:3f7041cac8010382e947b0</string>
</dict>
</plist>